.country-container{


 width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  max-height: fit-content; 
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;

}

.country{border: 1 px solid black; 
 background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
position: relative;
top: 0;
transition: all .1s ease-in;}

.country:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.country__flag{
padding-bottom: 60%;
  background-size: cover;
  background-position: center center;}

  .country__name{font-size: 20px;
  margin: 0;
  color: #333;

  }
.country__info{
    background-color: cyan;
    line-height: 1.4;
    font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
  flex: 1; /* make p grow to fill available space*/
  
    
}

@media only screen and (min-width: 500px) {
  .country-container {
    grid-template-columns: 2fr;
    grid-gap: 40px;
    width: 60%;
  }  
  .country__flag{
      padding-bottom: 60%;
  }
}

@media only screen and (min-width: 850px) {
  .country-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


