body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }

  // SEARCH BAR
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .search__text {
    width: 100%;
    border: 3px solid;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .search__text:focus{
    color: grey;
  }
  
  .search__icon {
    width: 40px;
    height: 36px;
    border: 1px solid;
    background: grey;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrapper {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // FILTER REGION

  .filter__dropbtn {
    background-color: #bdbdbd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .filter__dropbtn:hover, .filter__dropbtn:focus {
    background-color: #636363;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .filter {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .filter__dropdown {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .filter__dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .filter__dropdown a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}